.nameBox{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    padding: 20px;
    top: 0px;
    display: inline;
    position: relative;
    left: 122px;
}

.boarder{
    background-color:#cccccc;
    border: 1px solid #cccccc;
}

.bio{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 5%;
    /* margin-left: 12%; */
    margin-right: 22%;
    margin-bottom: 8%;
    border: 1px solid #cccccc;
    position: relative;
    left: 140px;
}

.aboutMe{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5; 
}

.bodyFont{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    display: inline;
}

#pageContainer{
    position: relative;
    height:800px;
}

.navBar{
    background-color: #ffffff;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
}

nav{
    float: right;
    position: relative;
    right: 146px;
    top: -34px;
    
}

img{
    float:left;
    padding-right: 15px;
}

.clear{
    clear: both;
}

#left{
    font-size: 20px;
    padding: 10px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#middle{
    font-size: 20px;
    padding: 10px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#right{
    font-size: 20px;
    padding: 10px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.messageBox{
    position: relative;
    
}

.labelName{
    position: absolute;
    top: -13px;
    bottom: 0px;
    left: 5px;
    right: 0px;
}

.labelEmail{
    position: absolute;
    top: 21px;
    bottom: 0px;
    left: 5px;
    right: 0px;
}

.labelMessage{
    position: absolute;
    top: 57px;
    left: 5px;
}

input{
    width: 52.5%;
    position: relative;
    top: 20px;
    bottom: 10 px;
    left: -20px;
    right: 10px;
}

.contactForm{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    display: inline;
    position: relative
}

.boxText1{
    position: relative;
    top: 3px;
    bottom: 0px;
    left: 5px;
    right: 0px;
}

.boxText2{
    position: relative;
    top: 18px;
    left: 5px;
}

.boxText3{
    position: relative;
    top: 39px;
    left: 5px;
}

.bioContact{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 5%;
    /* margin-left: 12%; */
    margin-right: 22%;
    margin-bottom: 8%;
    border: 1px solid #cccccc;
    position: relative;
    left: 140px;
    height: 390px;
}

.button1{
    position: relative;
    top: 65px;
    left: -558px;
    border: #4aaaa5;
    background: #4aaaa5;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* font-style: #ffffff could not figure out how to change button font color */
    
}
